USE [master]
GO
/****** Object:  Database [DB]    Script Date: 10/27/2025 11:27:37 AM ******/
CREATE DATABASE [DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUANIKA\MSSQL\DATA\DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUANIKA\MSSQL\DATA\DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/27/2025 11:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Age] [int] NULL,
	[JobTitle] [nvarchar](100) NULL,
	[Salary] [decimal](10, 2) NULL,
	[HireDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[AddEmployee]    Script Date: 10/27/2025 11:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddEmployee] 
@Name NVARCHAR(100),
    @Age INT,
    @JobTitle NVARCHAR(100),
    @Salary DECIMAL(10,2),
    @HireDate DATE,
    @NewID INT OUTPUT

AS
Begin 
	set nocount on;
	insert into Employees (Name, Age,JobTitle, Salary, HireDate)
	VALUES (@Name, @Age, @JobTitle, @Salary, @HireDate);
	set @NewID = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmployees]    Script Date: 10/27/2025 11:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[GetAllEmployees] 
As 
Begin 
set nocount on;
select EmployeeID, Name, Age, JobTitle, Salary, HireDate, IsActive 
from Employees;
end;
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeById]    Script Date: 10/27/2025 11:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetEmployeeById]
@EmpID int
As 
Begin 
Set nocount on;
select * from Employees where EmployeeID = @EmpID;
End
GO
USE [master]
GO
